In [1]:
import pandas as pd
import numpy as np
import os, sys
from datetime import datetime

In [2]:
total = pd.DataFrame()

In [3]:
%%time
# Read the 00 pickle file
tweets_00 = pd.read_pickle('pickleFiles/tweets_00_Pickle.pkl')
total = pd.DataFrame()
total = total.append(tweets_00)
del tweets_00

Wall time: 5min 40s

In [4]:
%%time
# Read the 01 pickle file
data01 = pd.read_pickle('tweets_01_Pickle.pkl')
total = total.append(data01)
del data01

Wall time: 21min 37s

In [5]:
# %%time
# # Read the 02 pickle file
# data02 = pd.read_pickle('tweets_02_Pickle.pkl')
# total = total.append(data02)
# del data02

In [6]:
# Write to Pickle File
total.to_pickle('twitterDataset.pkl')

In [7]:
# # Read the 01 pickle files
# tweets_01_1 = pd.read_pickle('pickleFiles/tweets_01_01_Pickle.pkl')
# tweets_01_2 = pd.read_pickle('pickleFiles/tweets_01_02_Pickle.pkl')
# # tweets_01_3 = pd.read_pickle('pickleFiles/tweets_01_03_Pickle.pkl')
# tweets_01_4 = pd.read_pickle('pickleFiles/tweets_01_04_Pickle.pkl')
# tweets_01_5 = pd.read_pickle('pickleFiles/tweets_01_05_Pickle.pkl')
# tweets_01_6 = pd.read_pickle('pickleFiles/tweets_01_06_Pickle.pkl')
# tweets_01_7 = pd.read_pickle('pickleFiles/tweets_01_07_Pickle.pkl')
# tweets_01_8 = pd.read_pickle('pickleFiles/tweets_01_08_Pickle.pkl')
# tweets_01_9 = pd.read_pickle('pickleFiles/tweets_01_09_Pickle.pkl')
# tweets_01_10 = pd.read_pickle('pickleFiles/tweets_01_10_Pickle.pkl')

In [8]:
# # Read the 02 pickle files
# tweets_02_1 = pd.read_pickle('pickleFiles/tweets_02_01_Pickle.pkl')
# # tweets_02_2 = pd.read_pickle('pickleFiles/tweets_02_02_Pickle.pkl')
# tweets_02_3 = pd.read_pickle('pickleFiles/tweets_02_03_Pickle.pkl')
# tweets_02_4 = pd.read_pickle('pickleFiles/tweets_02_04_Pickle.pkl')
# tweets_02_5 = pd.read_pickle('pickleFiles/tweets_02_05_Pickle.pkl')
# tweets_02_6 = pd.read_pickle('pickleFiles/tweets_02_06_Pickle.pkl')
# tweets_02_7 = pd.read_pickle('pickleFiles/tweets_02_07_Pickle.pkl')
# tweets_02_8 = pd.read_pickle('pickleFiles/tweets_02_08_Pickle.pkl')
# tweets_02_9 = pd.read_pickle('pickleFiles/tweets_02_09_Pickle.pkl')
# tweets_02_10 = pd.read_pickle('pickleFiles/tweets_02_10_Pickle.pkl')

In [9]:
# # Create Dataframes for 01 and 02
# data01 = pd.DataFrame()
# data02 = pd.DataFrame()

In [10]:
# # Append 01
# data01 = data01.append(tweets_01_1)
# data01 = data01.append(tweets_01_2)
# data01 = data01.append(tweets_01_4)
# data01 = data01.append(tweets_01_5)
# data01 = data01.append(tweets_01_6)
# data01 = data01.append(tweets_01_7)
# data01 = data01.append(tweets_01_8)
# data01 = data01.append(tweets_01_9)
# data01 = data01.append(tweets_01_10)

In [11]:
# # Write 01 to file
# data01.to_pickle('tweets_01_Pickle.pkl')

In [12]:
# # Append 02
# data02 = data02.append(tweets_02_1)
# data02 = data02.append(tweets_02_3)
# data02 = data02.append(tweets_02_4)
# data02 = data02.append(tweets_02_5)
# data02 = data02.append(tweets_02_6)
# data02 = data02.append(tweets_02_7)
# data02 = data02.append(tweets_02_8)
# data02 = data02.append(tweets_02_9)
# data02 = data02.append(tweets_02_10)

In [13]:
# # Write 02 to file
# data02.to_pickle('tweets_02_Pickle.pkl')

In [15]:
total

,coordinates,id,hashtags,place,text,user_location
0,NaN,1028954403129184256,NaN,NaN,"[gotta, love, fact]",United States
1,NaN,1028954356572250112,NaN,NaN,"[great, day, action, message, dear, dan, toola...",Australia
2,NaN,1028954497341480960,NaN,NaN,"[harvey, norman, reckons, climate, change, bun...","Noble Park,Oz, Khon Kaen Thai"
3,NaN,1028954494133043200,NaN,NaN,"[skepticism, immigration, walk, hand, hand, sk...","Toronto, Ontario"
4,NaN,1028954811511844864,climatechange,NaN,"[th, november, creative, citizen, w, practical...","Dublin, Ireland"
...,...,...,...,...,...,...
700284,NaN,981117160788553729,risingseas climatechange,NaN,"[mum, mum, water, here, coastal, saintlouis, s...",NaN
700285,NaN,981117592604590082,workshop SDG climate BUP ClimateChange Environ...,NaN,"[day, long, action, held]","Dhaka, Bangladesh"
700286,NaN,981117022858657792,NaN,NaN,"[global, warming]","Los Angeles, CA"
700287,NaN,981117118660755456,NaN,NaN,"[climate, change, lucifer, heatwave, far, like...",NaN
700288,NaN,981117523666989058,NaN,NaN,"[saying, climate, change, exist]",NaN