In [15]:
from google.cloud import language_v1
from google.cloud.language_v1 import enums
import pandas as pd

In [16]:
df = pd.read_csv('sentimentTesting.csv')
df

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_followers_count,user_friends_count,user_listed_count,user_location,user_name,user_screen_name.1,user_statuses_count,user_time_zone,user_urls,user_verified
0,NaN,Fri Nov 24 03:50:23 +0000 2017,NaN,NaN,https://twitter.com/rachelnotley/status/933779...,0,9.339060e+17,NaN,NaN,NaN,...,531,906,4,NaN,Sheldon K,Conspiracysk,12220,NaN,NaN,False
1,NaN,Fri Nov 24 03:50:13 +0000 2017,NaN,NaN,NaN,0,9.339060e+17,NaN,NaN,NaN,...,354,361,2,NaN,793010,clarissakills,46086,NaN,NaN,False
2,NaN,Fri Nov 24 03:51:25 +0000 2017,climatechange,NaN,https://science2017.globalchange.gov/chapter/e...,0,9.339060e+17,NaN,NaN,NaN,...,2831,496,103,"Bruxelles, Belgique",Franklin DEHOUSSE,FrDe2059,21363,NaN,NaN,False
3,NaN,Fri Nov 24 03:51:49 +0000 2017,NaN,NaN,NaN,0,9.339060e+17,NaN,NaN,NaN,...,8018,1935,144,Melbourne,Arts House,artshousemelb,4123,NaN,http://www.artshouse.com.au,False
4,NaN,Fri Nov 24 03:51:14 +0000 2017,NaN,https://twitter.com/business/status/9339053747...,https://bloom.bg/2BjlT5s,0,9.339060e+17,NaN,NaN,NaN,...,120,927,0,NaN,Geert Bulckens,BulckensGeert,13531,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,Fri Nov 24 03:56:23 +0000 2017,NaN,NaN,http://d.gu.com/Q14pnf,0,9.339070e+17,NaN,NaN,NaN,...,2141,2563,40,NaN,Kerstin Joester,JoesterKerstin,8833,NaN,NaN,False
96,NaN,Fri Nov 24 03:56:58 +0000 2017,climatechange energy,NaN,NaN,0,9.339070e+17,NaN,NaN,NaN,...,2695,2118,100,Australia,ðŸ’§Wake Up Australia!,mary_tambling63,160236,NaN,NaN,False
97,NaN,Fri Nov 24 03:56:36 +0000 2017,NaN,NaN,https://twitter.com/BryanDawsonUSA/status/9335...,0,9.339070e+17,NaN,NaN,NaN,...,307,1567,1,"That RV around the corner, USA",HaffToLaff,Haff_To_Laff,1343,NaN,NaN,False
98,NaN,Fri Nov 24 03:57:38 +0000 2017,NaN,NaN,https://goo.gl/LXpobV,0,9.339070e+17,NaN,NaN,NaN,...,480,889,8,New York,Carolyn M. Scotti,CarolynMScotti,9466,NaN,NaN,False
99,NaN,Fri Nov 24 03:57:01 +0000 2017,NaN,NaN,NaN,0,9.339070e+17,NaN,NaN,NaN,...,431,397,23,India,Vikas Agarwal,Vikas_Agarwal18,43901,NaN,https://www.facebook.com/vikasagarwalphotography/,False

In [17]:
def sample_analyze_sentiment(text_content):
    """
    Analyzing Sentiment in a String

    Args:
      text_content The text content to analyze
    """

    client = language_v1.LanguageServiceClient()
    type_ = enums.Document.Type.PLAIN_TEXT
    language = "en"
    sentence = {"content": text_content, "type": type_, "language": language}
    encoding_type = enums.EncodingType.UTF8

    response = client.analyze_sentiment(sentence, encoding_type=encoding_type)
    #print(type(response))
    return response

In [19]:
# To get a dataframe with the Sentiment Score and Magnitude
#Google recommends to not preprocess the text before using the API
listofseries = []
for index,row in df.iterrows():
    response = sample_analyze_sentiment(row['text'])
    row['Sentiment Score'] = round(response.document_sentiment.score,3)
    row['Sentiment Magnitude'] = round(response.document_sentiment.magnitude,3)
    listofseries.append(row)
dffinal = pd.DataFrame(listofseries)
dffinal

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_listed_count,user_location,user_name,user_screen_name.1,user_statuses_count,user_time_zone,user_urls,user_verified,Sentiment Score,Sentiment Magnitude
0,NaN,Fri Nov 24 03:50:23 +0000 2017,NaN,NaN,https://twitter.com/rachelnotley/status/933779...,0,9.339060e+17,NaN,NaN,NaN,...,4,NaN,Sheldon K,Conspiracysk,12220,NaN,NaN,False,-0.2,1.2
1,NaN,Fri Nov 24 03:50:13 +0000 2017,NaN,NaN,NaN,0,9.339060e+17,NaN,NaN,NaN,...,2,NaN,793010,clarissakills,46086,NaN,NaN,False,0.0,0.0
2,NaN,Fri Nov 24 03:51:25 +0000 2017,climatechange,NaN,https://science2017.globalchange.gov/chapter/e...,0,9.339060e+17,NaN,NaN,NaN,...,103,"Bruxelles, Belgique",Franklin DEHOUSSE,FrDe2059,21363,NaN,NaN,False,0.1,0.4
3,NaN,Fri Nov 24 03:51:49 +0000 2017,NaN,NaN,NaN,0,9.339060e+17,NaN,NaN,NaN,...,144,Melbourne,Arts House,artshousemelb,4123,NaN,http://www.artshouse.com.au,False,0.1,0.1
4,NaN,Fri Nov 24 03:51:14 +0000 2017,NaN,https://twitter.com/business/status/9339053747...,https://bloom.bg/2BjlT5s,0,9.339060e+17,NaN,NaN,NaN,...,0,NaN,Geert Bulckens,BulckensGeert,13531,NaN,NaN,False,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,Fri Nov 24 03:56:23 +0000 2017,NaN,NaN,http://d.gu.com/Q14pnf,0,9.339070e+17,NaN,NaN,NaN,...,40,NaN,Kerstin Joester,JoesterKerstin,8833,NaN,NaN,False,-0.6,0.6
96,NaN,Fri Nov 24 03:56:58 +0000 2017,climatechange energy,NaN,NaN,0,9.339070e+17,NaN,NaN,NaN,...,100,Australia,ðŸ’§Wake Up Australia!,mary_tambling63,160236,NaN,NaN,False,0.3,0.6
97,NaN,Fri Nov 24 03:56:36 +0000 2017,NaN,NaN,https://twitter.com/BryanDawsonUSA/status/9335...,0,9.339070e+17,NaN,NaN,NaN,...,1,"That RV around the corner, USA",HaffToLaff,Haff_To_Laff,1343,NaN,NaN,False,-0.3,2.1
98,NaN,Fri Nov 24 03:57:38 +0000 2017,NaN,NaN,https://goo.gl/LXpobV,0,9.339070e+17,NaN,NaN,NaN,...,8,New York,Carolyn M. Scotti,CarolynMScotti,9466,NaN,NaN,False,-0.2,0.2
99,NaN,Fri Nov 24 03:57:01 +0000 2017,NaN,NaN,NaN,0,9.339070e+17,NaN,NaN,NaN,...,23,India,Vikas Agarwal,Vikas_Agarwal18,43901,NaN,https://www.facebook.com/vikasagarwalphotography/,False,0.4,0.9

In [20]:
dffinal.to_csv('Results-SA.csv')